<div id="list-products" class="list-products">

    <div class="section-title">
        <h2>Los mas Vendidos</h2>
    </div>
    <div class="product">
        <div class="container-product">
            <mat-card class="example-card card" *ngFor="let item of mainProducts">
                <div class="drop-image">
                    <img mat-card-image [src]="item.image" alt="">
                </div>
                <mat-card-title>{{ item.title}}</mat-card-title>
                <mat-card-subtitle>S/{{ item.price}}</mat-card-subtitle>
                <mat-card-actions class="actions">

                    <button type="submit" mat-raised-button color="warn">
                        Comprar
                    </button>
                    <a [routerLink]=""><i class="mdi mdi-heart-outline"></i></a>

                </mat-card-actions>
            </mat-card>

        </div>
    </div>

</div>