@import "~slick-carousel/slick/slick.scss";

.banner {
    overflow-x: hidden;
    .slick {
        width: 100%;
        height: 100%;
        img {
            background-position: 20% 91%;
            height: 700px;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            min-height: 500px;
        }
    }
}
