.list-products-news{
    .section-title {
        margin: 0 0 40px;
        padding: 40px;
        text-align: center;
        h2 {
            font-family: "AvenirNext LT Pro";
            background: #ffffff;
            color: #333;
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 20px;
            padding: 20px;
            text-transform: uppercase;
            display: inline-flex;
        }
    }
    .section-title:after {
        background: #ccc;
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        margin-top: -60px;
    }

    .product {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 3rem;
        .card {
            margin: 1%;
            width: 20%;
            flex-shrink: 0;
            overflow: hidden;
            box-shadow: none;
            img {
                height: auto;
                object-fit: cover;
            }
            .actions {
               
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .container-product {
        max-width: 1300px;
        flex: 1;
        margin: 0 auto;
        display: inherit;
        justify-content: inherit;
        align-items: inherit;
        height: inherit;
        flex-wrap: inherit;
    }
}
@media (min-width: 568px) {
    .section-title {
        h1 {
            font-size: 24px;
            padding: 40px;
        }
    }
    .section-title:after {
        margin-top: -55px;
    }
}

@media screen and (max-width: 767px) {
    .product{
        .card {
            margin: 4%!important;
            width: 33%!important;
        }
    }
}
