<i class="mdi mdi-menu burger-button" id="burger-menu"></i>
<header>
  <div class="options-nav">
    <div class="search">
      <i class="mdi mdi-magnify" aria-hidden="true"></i>
      <input type="search" placeholder="Buscar: Vestidos,.... ">
    </div>

    <ol>
      <li>
        <a routerLink=""> <i class="mdi mdi-account"></i></a>
      </li>
      <li>
        <a routerLink=""> <i class="mdi mdi-heart"></i></a>
      </li>
      <li>

        <a routerLink="/order"  matBadge="15" matBadgeColor="warn">
          <i class="mdi mdi-cart"></i>
        </a> 
      
      </li>
    </ol>

  </div>
  <div class="main-nav">
    <a class="logo" routerLink="/home">
      <img src="assets/images/image_logo.png" alt="Logo" />
    </a>
    <nav class="menu">
      <ol>
        <li>
          <a class="link" routerLink="/collections/news">Novedades</a>
        </li>
        <li>
          <a class="link" routerLink="/collections/women">Mujer</a>
        </li>
        <li>
          <a class="link" routerLink="/collections/men">Hombre</a>
        </li>
        <li>
          <a class="link" routerLink="/collections/children">Niños</a>
        </li>
        <li>
          <a class="link" routerLink="/collections/acc">Accesorios</a>
        </li>

      </ol>
    </nav>
  </div>


</header>